/*----------------------- google font-----------------  */
body{
    font-family: 'Poppins', sans-serif;
    /* margin: 0; */
    max-width:100%;
    overflow-x: hidden;
}
/*------------------ header area---------------------- */

.header-area{
    background-color: #483d8b;
    width: 100%;
    height: 500px;
    display: flex;
 
    align-items: center;  
    padding-left: 80px;
    padding-top:30px ;
    
   
}
/*--- header photo hover tansform + tansition---------------------- */
.header-area:hover .header-banner{
    transform: scale(1.15) rotate(2.9deg);
    transition: transform 2s ease-in-out;
}
.anchor-button:hover{
    background-color: red;
}

.header-info{
    margin-left: 80px;   
}
/* .copa-title h2{
    display: grid;
    
} */
.header-banner{
    padding-right: 70px;
    
}
.header-area img{
    margin-left: 140px;
    width: 50%;
}


h2{
    
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    font-size: 37px;
    margin: 2px;
    padding: 5px;
   
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}


.watch-live{
    
    text-decoration: none;
    color: white;
    
}
.header-info .arrow{
    margin-left: 6px;
    
   
}

/* -----------------header watch live button css------------------- */
.anchor-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 20px;
    width: 120px;
    height: 44px;
    background-color:#E02C6D;
    border-radius: 5px;
    color: white;
   
    

}


/*--------------------- players section ---------------------*/
.players-album{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content: start; */
    /* margin-left:2%; */
    margin-top: 20px;
    /* github pages making center */
    margin-left: 10%;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    



}
.player{
    /* margin: 10px; */
    
    padding: 10px;
    width: 280px;
    height: 400px;
    border: 0.1 solid gray;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* extra */
    justify-content: center;
    margin:auto;
    
}
.player img{
    max-width: 100%;
}
.player-info p{
    
    font-size: 12px;
    color: #6C6C6C;
    
}
/* extra section given home-work on assignment by jhankar mahabub */
.extra-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    padding: 5px;
    background-image: url(images/Paris-Saint-Germain-HotForex.png);
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}
.extra-detail h2{
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.extra-detail span{
    font-size: 12px;
    color: #bcbbc7
  
}
.futbol{
    color: darkblue;
}
/*------------ footer css----------- */
footer{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    height:213px;
    margin-left:100px;
    margin-top: 20px;
}
.copyright{
  color: #6C6C6C;
  font-size: 20px;
}
/* .footer-img .icons{
    width:100%;
} */
.footer-img img{
    width: 50%;
    margin-left: 200px;
}
.icons a img{
    width:50px;
    height: 50px;
}